.top-bar{
  margin-bottom: 20px;
}

.book{
  text-align: center;
  margin: 10px;
}

.book h4{
  margin-top: 15px;
}

.price{
  margin: 5px;
  font-size: 18px;
}

.price span{
  background: #f4f4f4;
  padding: 10px;
  border: 1px #ccc solid;
  border-radius: 25%;
  color: Green;
}

div.price{
  margin-top: 20px;

}

footer{
  margin-top: 40px;
  text-align: center;
  padding: 10px;
}

ul,li{
  list-style: none;
}

p.description{
  text-align: justify;
}

span.plus{
  color: #fff;
  font-size: 16px;
  vertical-align: bottom;
}

ul.success{
  text-indent: none;
  width: 600px;
  text-align: center;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c7634;
  background-color: #dff0d8;
  border-color: #343a40;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

ul.error{
  text-indent: none;
  width: 600px;
  text-align: center;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #7f0000;
  background-color: #ff77aa;
  border-color: #343a40;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}


div #messages{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-top: 10px;
}


div.margin{
  margin: 30px 0;
}

a.button.small.primary{
  margin-top: 20px;
}
